#LISTEN_ADDRESS=:8888
#CORS_ORIGINS=steaminputdb.com
#STEAM_API_KEY=
#API_LISTEN_ADDRESS=:8889
#API_PUBLIC_ADDRESS=localhost:8889
#API_CORS_ORIGINS=steaminputdb.com
#METRICS_LISTEN_ADDRESS=:8899
#DEV=1