hr {
	opacity: 0.3;
}

picture,
img {
	object-fit: contain;
	object-position: center;
	height: fit-content;
}

pre,
code {
	background: var(--card-background-noise);
}

code {
	margin: 0.25em;
	line-height: 1.6;
}
